{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress5" method="POST">
        <h1> Address 5 of 5</h1>
        <ul>
        <li>
            <label for="phone_number">Phone number (Optional)</label>
            <input type="tel" id="phone_number" name="phone_number" value="{{fields.phone_number if fields.phone_number != None else '' }}">
            <span class="extra-info"><details><summary>Help?

            </summary>
            If you would like to be contacted per Telephone, please enter your Telephone number. It is completely optional. Without it you would only receive letters.
        </details>
                
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value='Submit'>
        </li>

    </ul>
    </form>
    {% endblock %}