{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress1" method="POST">
        <h1> Adress 1 of 5</h1>
        <ul>
            <li>
                <label for="date_registered">Date registered:</label>
                <input type="date" id="date_registered" name="date_reg" required>
                <span> <details><summary>
                    Help?
                </summary> 
                    <p>Please enter the exact date that you have registered your address in the City.
                    </p>
                </details></span>
            </li>
            <li>
                <input type="button" value="Back" onClick="javascript:history.back()">
                <input type="submit" value='submit'>
            </li>
        </ul>
        </form>
        </div>
        {% endblock %}