{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information" method='POST'>
    <h1>General Information 2 of 3</h1>
    <ul>
        <li>
            <label for="fName">First Name</label>
            <input type="text" name="firstName" id="fName" required>
            <span><details><summary>
                Help?
            </summary> 
                <p>Enter your first name here please.
                    <br> You can find it on your ID Card </p>
            </details></span>
        </li>
        <li>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lName" required>
            <span><details><summary>
                Help?
            </summary> 
                <p>Enter your last name here please 
                    <br> Also known as your family name. You can find it on your ID Card.
                </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}