{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information1" method='POST'>
    <h1>General Information 1 of 3</h1>
    <ul>
        <li>
            <label for="">Gender</label>
            {% if fields.gender == "Male" %} 
                <input type="radio" name="gender" id="radioMale" value="Male" checked="checked" required> Male
                <input type="radio" name="gender" id="radioFemale" value="Female"> Female
            {%elif fields.gender == "Female"%}
                <input type="radio" name="gender" id="radioMale" value="Male" required> Male
                <input type="radio" name="gender" id="radioFemale" value="Female" checked="checked"> Female
            {%else %}
                <input type="radio" name="gender" id="radioMale" value="Male" required> Male
                <input type="radio" name="gender" id="radioFemale" value="Female"> Female
            {%endif%}
            
            
            <span><details><summary>
                Help?
            </summary> 
                <p>Please choose your gender here</p>
            </details></span>
        </li>
        <li>
               <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}