{% extends 'bg/bg_base.html' %}

{% block head %}
<title>За нас</title>
{% endblock %}

{% block body %}

<h1>
    Добре дошли в нашия уебсайт!
</h1>
<p class="text">
    Нашият екип A-5 е тук, за да Ви предостави възможно най-добрата помощ, която можете да получите, за да попълните всички документи, с които разполагате
    да завърши за спасяване и лесен живот в Германия!
    Ние работим върху превода на всяка необходима информация за Вас, като същевременно обясняваме в лесни за изпълнение стъпки как да попълните
    всеки документ, за който бихте могли да имате въпроси.
</p>
<p class="text">
    Екипът ни се състои от 6 студенти в Хохшуле Манхайм в Германия, всички в трети семестър. Ние използваме
    най-новите технологии, които научихме в кооперация с нашия професор, 
    както и от <b id="welfare"> факултета по информатика </b> в нашия
    университет за създаване на този уебсайт.
</p>
<p>

</p>
<h2>
    Участници в проекта:
</h2>
<p class="boxed">
    <img src="/images/Profil 1.png" class="image"> <br>Първият член е Георги Хайдуков, който отговаря
    бисквитките и нашите политики за поверителност. Можете да се свържете с него на имейла му: <a
        href="11@stud.hs-mannheim.de">11@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 2.png" class="image"> <br>Освен това имаме Александър Хистров, нашият Flask специалист и
    български преводач. Можете да се свържете с него на имейла му: <a href="12@stud.hs-mannheim.de">12@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 3.png" class="image"> <br>Това е Робърт Ендлер, който работи не само върху нашето правно известие,
     но също така
    прави френски превод на уебсайта. Можете да се свържете с него на имейла му: <a
        href="13@stud.hs-mannheim.de">13@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 4.png" class="image"> <br>Тук е Иляс Бал, който работи по нашите уроци и
    обяснения за бъдещите ви документи. Можете да се свържете с него на имейла му: <a
        href="14@stud.hs-mannheim.de">14@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/profil 5.png" class="image"> <br>Ленард Гулде също работи по нашите уроци и помага
    нашата система за вход. Можете да се свържете с него на имейла му: <a href="15@stud.hs-mannheim.de">15@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/profil 6.png" class="image"> <br>Накрая тук е Мохамед Явуз, който е отговорен за
    информацията, която четете в момента! Освен това той работи върху регистрацията в нашия уебсайт, точно както и върху менюто. Можете да се свържете отдолу
    неговия имейл: <a href="16@stud.hs-mannheim.de">16@stud.hs-mannheim.de</a>
</p>

<p id="finalsentence">
    <br>Всеки член на нашия екип се надява, че този сайт ще Ви даде помощта, от която се нуждаете, за
    успешното Ви преминаване през немската бюрокрация. Всички ние Ви желаем приятно прекарване в Германия!
</p>
{% endblock %}