{% extends 'bg/bg_base.html' %}

{% block head %}
<title> Добре дошли!</title>
{% endblock %}
{% block body %}
<h1>Добре дошли!</h1>
<hr>
<h2> Моля, изберете документа, от когото се нуждаете: </h2>
<ul>
        <li>
                <a href="">Регистрация на дома</a>
        </li>
        <li>
                <a href="/{{language}}/gez/gez_explanation">Радио Регистрация</a>
        </li>
        <li>
                <a href="">Регистрация за детска градина</a>
        </li>
        <li></li>
</ul>



{% endblock %}