{% extends 'en/en_base.html' %}

{% block head %}
<title>Legal Notice</title>
{% endblock %}
{% block body %}
<header>
    <h1>Правно известие</h1>
</header>

<p><strong>Община Манхайм</strong><br>
    Кметство E 5<br>
    D-68159 Манхайм<br>
    Телефон: +49 621 293-0<br>
    Факс: +49 621 293-9532<br>
    Имейл:<a href="mailto:stadtverwaltung@mannheim.de">stadtverwaltung@mannheim.de</a>
</p>
<p>Община Mannheim е корпорация по публичното право.
    Представена е от кмета д-р Петер Курц, Кметство E 5, 68 159 Манхайм.
</p>
<h2>VAT идентификационен номер</h2>
<p>съгласно § 27 VAT: DE 143 845 211
</p>
<p>
    <em>Справка на VAT идентификационен номер:</em><br>
    Община Mannheim има търговска или професионална активност само в контекста на търговския си бизнес
    характер (раздел 1 (1) № 6, раздел 4 от Закона за корпоративния данък). Освен това идентификационният номер по ДДС е
    необходими за вътреобщностни придобивания (§ 1 а от Закона за ДДС).
</p>
<p>
<h2>Онлайн постановка извън повикване</h2>
<p>
    Европейската комисия предоставя тази платформа <a
        href=" https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=EN"
        target="_blank">https://ec.europa.eu/consumers/odr/ </a> за извънсъдебно онлайн разрешаване.
</p>
Информация съгласно § 36 Закон за уреждане на потребителското право на
Община Mannheim не желае и не е длъжна да участва в процедура за уреждане на спорове пред
арбитражен орган.
</p>
<p>
<h2>Обща отговорност за съдържанието</h2>
<h3>Принцип на равно третиране</h3>
<p>Равенството на всички лица пред закона и защитата от дискриминация е универсално човешко право. Всеки човек
    съществото има основно право на държавни действия в съответствие със закона, т.е. дае е безпристрастен.
</p>
<p>Уебсайтът на Stadt Mannheim се ангажира с този принцип, целите на Европейската общност да защитава
    срещу дискриминацията и нейното законово прилагане в Закона за общото равно третиране (AGG).</p>
<p>В това отношение Община Манхайм се стреми да предотврати или премахне дискриминацията въз основа на раса или
    етнически произход, пол, религия или убеждения, увреждане, възраст или сексуална идентичност.

</p>
</p>
<p>
<h2>Авторско право, отговорност</h2>
<p>Оформлението на началната страница, използваните графики, както и колекцията от материали са защитени с авторски права.
    Страниците могат да се възпроизвеждат само за лична употреба, не могат да се правят промени и да не се разпространяват или използват копия
    за публично възпроизвеждане. Отделните вноски също са защитени с авторски права; допълнителна информация може да бъде
    намерени там, ако е необходимо. Цялата информация на този сървър се предоставя без гаранция за нейната коректност. Под №
    При всички обстоятелства се поема отговорност за вреди, произтичащи от използването на извлечената информация.</p>
<p>Съдържанието на сървъра в Манхайм е отговорност на съответните доставчици на съдържание. Техният подчинен
    imprint информира за това.</p>
<p>Въпреки внимателния контрол на съдържанието, ние не поемаме никаква отговорност за съдържанието на външни връзки. Ние
    изрично декларираме, че нямаме влияние върху дизайна и съдържанието на свързаните страници. Следователно ние изрично
    дистанцирайте се от цялото съдържание на страниците, които са достъпни чрез връзки от тази страница. Тази декларация
    се отнася за всички връзки и референции, зададени в нашия уебсайт.</p>
</p>
<p>
<h2>Външни източници на данни</h2>
Този уебсайт използва:
</p>


{% endblock %}