{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Политика за поверителност</title>
{% endblock %}
{% block body %}

<h1>Политика за поверителност</h1>

<p>В GEZ-Help един от основните ни приоритети е поверителността на нашите потребители. Този документ за поверителност съдържа видове
    информация, която се събира и записва от GEZ-Help и е подробно описано как я използваме.</p>

<p>Ако имате допълнителни въпроси или се нуждаете от повече информация относно нашата Политика за поверителност, не се колебайте да се свържете с нас.
</p>

<p>Тази Политика за поверителност се отнася само за нашите онлайн дейности и е валидна за посетителите на нашия уебсайт по отношение на
    информацията, която те са споделили и/или събират в GEZ-Help. Тази политика не е приложима за каквато и да е информация
    получена офлайн или чрез уебсайтове, различни от този.</p>

<h2>Съгласие</h2>

<p>Използвайки нашия уебсайт, вие се съгласявате с нашата Политика за поверителност и се съгласявате с нейните условия.</p>

<h2>Информация, която събираме</h2>

<p>Ще бъдат посочени личните данни, които сте помолени да предоставите и причините, поради които сте помолени да ги предоставите
    ясно за вас в момента, в който ви молим да предоставите вашата лична информация.</p>
<p>Ако се свържете директно с нас, може да получим допълнителна информация за вас, като вашето име, имейл адрес, телефон
    номер, съдържанието на съобщението и/или прикачените файлове, които можете да ни изпратите и всяка друга информация, която изберете
    да ни предоставите.</p>
<p>Когато се регистрирате за акаунт, ние можем да поискаме вашата информация за връзка, включително неща като име, адрес,
    имейл адрес и телефонен номер.</p>

<h2>Как използваме вашата информация</h2>

<p>Използваме информацията, която събираме по различни начини, включително за:</p>

<ul>
    <li>Предоставяне, експлоатация и поддръжка на нашия уебсайт</li>
    <li>Подобряване, персонализиране и разширяване на нашия уебсайт</li>
    <li>Разбиране и анализиране как използвате нашия уебсайт</li>
    <li>Да ви изпращаме имейли</li>
    <li>Намиране и предотвратяване на измами</li>
</ul>

<h2>Лог файлове</h2>

<p>GEZ-Help следва стандартна процедура за използване на регистрационни файлове. Тези файлове регистрират посетителите, когато посещават уебсайтове. Всички
    хостинг компаниите правят това и част от анализа на хостинг услугите. Информацията, събрана от регистрационните файлове, включва
    адреси на интернет протокол (IP), тип браузър, доставчик на интернет услуги (ISP), печат за дата и час, насочване/излизане
    страници и евентуално броя на кликванията. Те не са свързани с никаква информация, която може да Ви идентифицира лично.
    Целта на информацията е да анализира тенденциите, да администрира сайта, да проследява движението на потребителите в
    уебсайта и да събира данни на демографска основа.</p>

<h2>Бисквитки</h2>

<p>Както всеки друг уебсайт, GEZ-Help използва „бисквитки“. Тези бисквитки се използват за съхраняване на информация, включително на
    предпочитанията на посетителите и страниците на уебсайта, до които посетителят е имал достъп или е посетил. Информацията се използва за оптимизиране на 
    опита на потребителите чрез персонализиране на съдържанието на нашата уеб страница въз основа на типа браузър на посетителите и/или друга информация.
</p>

<h2>Политики за поверителност на трети страни</h2>

<p>Политиката за поверителност на GEZ-Help не се прилага за други рекламодатели или уебсайтове. Поради това Ви съветваме да се консултирате с
    съответните Политики за поверителност на тези рекламни сървъри на трети страни за по-подробна информация. Тя може да включва и техните
    практики и инструкции за това как да се откажете от определени опции. </p>

<p>Можете да изберете да деактивирате бисквитките чрез вашите индивидуални опции на браузъра. За да знаете по-подробна информация за
    управление на бисквитки със специфични уеб браузъри, може да се намери на съответните уебсайтове на браузърите.</p>

<h2>GDPR Права за защита на данните</h2>

<p>Бихме искали да сме сигурни, че сте напълно наясно с всичките си права за защита на данните. Всеки потребител има право на
    следното:</p>
<p>Правото на достъп - Имате право да поискате копия на личните си данни. Може да ви начислим малка такса за
    тази услуга.</p>
<p>Правото на коригиране - Имате право да поискате да коригираме всяка информация, която смятате за неточна.
    Също така имате право да поискате да попълним информацията, която смятате за непълна.</p>
<p>Правото на изтриване - имате право да поискате да изтрием личните ви данни при определени условия.</p>
<p>Правото на ограничаване на обработката - Вие имате право да поискате да ограничим обработката на вашите лични данни
    данни при определени условия.</p>
<p>Правото на възражение срещу обработка - Вие имате право да възразите срещу обработката ни на вашите лични данни, под
    определени условия.</p>
<p>Правото на преносимост на данните - Вие имате право да поискате да прехвърлим данните, които сме събрали
    друга организация или директно до вас при определени условия.</p>
<p>Ако направите заявка, имаме един месец да Ви отговорим. Ако искате да упражните някое от тези права, моля
    свържете се с нас.</p>

{% endblock %}