{%extends 'bg/bg_base.html'%}

{% block head %}
<!-- <title> ... </title>-->
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/register.js')}}"></script>
<form action="/{{language}}/register" method="POST">
    <h1>Регистрация</h1>
    <ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <li>
            <label for="uNameReg">Потребителско име</label>
            <input type="text" name="userNameReg" id="uNameReg" required>
            <span>Изберете потребителско име</span>
        </li>
        <li>
            <label for="">Парола</label>
            <input type="password" name="password" id="password1" required>
            <span>Изберете Вашата парола</span>
            <br>
            <input type="password" name="password2" id="password2" required>
            <span>Повторете Вашата парола, моля</span>
        </li>
        <li>
            <label for="mail">E-Mail</label>
            <input type="email" name="email" id="mail" required>
            <span>Въведете своя имейл адрес тук, моля</span>
        </li>

        <li>
            <label for="">Езици</label>
            <input type="radio" name="language" id="en" value="en" required> English
            <input type="radio" name="language" id="de" value="de"> German
            <input type="radio" name="language" id="bg" value="bg"> Български
            <input type="radio" name="language" id="fr" value="fr"> French
            <span>Изберете езика, който искате да използвате</span>
        </li>

        <h2>Тази част е опционална</h2>
        <li>
            <label for="">Пол</label>
            <input type="radio" name="gender" value="Male"  id="radioMale"> Мъж
            <input type="radio" name="gender" value="Female" id="radioFemale"> Жена
            <span>Напишете Вашия пол тук</span>
        </li>
        <li>
            <label for="fName">Първо име</label>
            <input type="text" name="firstName" id="fName" pattern="\p{Alpha}*">
            <span>Напишете Вашето първо име тук</span>
        </li>
        <li>
            <label for="lastName">Фамилия</label>
            <input type="text" name="lastName" id="lName" pattern="\p{Alpha}*">
            <span>Напишете Вашата фамилия име тук</span>
        </li>
        <li>
            <label for="dateOfBirth">Дата на раждане</label>
            <input type="date" name="dateOfBirth" id="dob">
            <span>Напишете Вашата рожденна дата тук</span>
        </li>
        <li>
            <input type="submit" value="Изпращане" onclick='checkPasswordValidity()'>
        </li>
    </ul>
</form>

{% endblock %}