{%extends 'bg/bg_base.html'%}

{% block head %}
<title>Добре дошли!</title>
{% endblock %}

{% block body %}

<form id="welcometext">
    <h1>
        Добре дошли!
    </h1>
    <p>Добре дошли в нашия уебсайт! </p>
    <p>
        Нашият екип A-5 е тук, за да ви предостави възможно най-добрата помощ, която можете да получите, за да попълните
        всички документи, с които
        са Ви нужни за по-лесен живот в Германия!
        Ние работим върху превода на всяка необходима информация за Вас, като същевременно обясняваме в лесни за
        изпълнение стъпки как да попълните
        всеки документ, за който бихте могли да имате въпроси.
    </p>
    <br>

    <p>
        Екипът ни се състои от 6 студенти, всички през третия семестър, от Университет Манхайм в Германия. Ние
        използваме
        най-новите технологии
        току-що научени в сътрудничество с нашия професор, както и <b id="welfare"> социален факултет </b>от нашия
        университет за създаване на този уебсайт /апликация/.<br>
        Ако искате да научите повече <b>За нас </b>, можете да намерите необходимата информация <a
            href="/{{language}}/about_us"> тук</a>.
    </p>
</form>
<p>

<form action="/" method="POST">
    <h1>Вход</h1>
    <ul>
        <li>
            <label for="uName">Потребителско име</label>
            <input type="text" name="username" id="uName">
            <span>Напишете потребителското Ви име тук</span>
        </li>
        <li>
            <label for="pWord">Парола</label>
            <input type="password" name="password" id="pWord">
            <span>Напишете паролата Ви тук</span>
        </li>
        <li>
            <input type="submit" value="Изпращане">
        </li>
    </ul>

    <ul>
        <h3>Ако нямате акаунт, създайте един тук.</h3>
        <li class="listCenter">
            <a href="/{{language}}/register"> Регистрация</a>
        </li>
        <li></li>
    </ul>
</form>

<form action="">
    <ul>
        <h2>
            Ако не искате да създавате акаунт. <br>
            Може да използвате сайта като гост.
        </h2>
        <li class="listCenter">
            <a href=" ">Регистрация на дома</a>
        </li>
        <li class="listCenter">
            <a href="/{{language}}/gez/gez_explanation"> GEZ</a>
        </li>
        <li class="listCenter">
            <a href=" ">Защита на детето</a>
        </li>
        <li></li>
    </ul>
</form>
</p>


<p id="finalsentence">
    <br>Всеки член на нашия екип се надява, че този сайт ще Ви даде помощта, от която се нуждаете по пътя си през
    Германия
    бюрокрация. Всички ви желаем приятно прекарване в Германия!
</p>
<!-- Cookie html code from here: -->
<div class="cookie-container">
    <p>
        Ние използваме бисквитки в този уебсайт, за да Ви предоставим възможно най-доброто изживяване
        и ще Ви показва подходящи реклами. За да научите повече, прочетете нашия
        <a href="/{{language}}/privacy_policy">политика за поверителност</a>.
    </p>

    <button class="cookie-btn">
        добре
    </button>
</div>
<script type="text/javascript" src="{{url_for('static', filename='javascript/cookieConsent.js')}}"></script>
{% endblock %}