{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa3" method="POST">
    <h1>Мандат за директен дебит на SEPA 3 от 4</h1>
    <ul>
        <li>
            <label for="ZIP_code">Пощенски код</label>
            <input type="text" id="ZIP_code" name="ZIP_code" pattern="[0-9]{5}$" value="{{fields.zip_code_sepa if fields.zip_code_sepa != None else '' }}">
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете тук пощенския код на адреса Ви, моля. То трябва да бъде същото като адреса, който сте записали по-рано.<br>
                <i>Пощенският код има 5 цифри</i><br>
            </details> </span>
        </li>
        <li>
            <label for="area">Град</label>
            <input type="text" id="area" name="area" pattern="^[A-Za-zßÄÖÜäöü]+(([-]|[\s])?[A-Za-zßÄÖÜäöü]+)*" value="{{fields.city_sepa if fields.city_sepa != None else '' }}">
            <span><details>
                <summary>
                    Помощ?
                </summary>Моля, въведете тук града, в който живеете. То трябва да бъде същото като адреса, който сте записали по-рано.<br>
                <i>Не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i>
                </details> </span>
        </li>
        <li>
            <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value="Изпращане">
        </li>
    </ul>
</form>
{%endblock}