{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa2" method="POST">
    <h1>Мандат за директен дебит на SEPA 2 от 4</h1>
    <ul>
        <li>
            <label for="street">Улица</label>
            <input type="text" id="street" name="street"  pattern="^[A-Za-zßÄÖÜäöü]+(([-]|[\s])?[A-Za-zßÄÖÜäöü]+)*" value="{{fields.street_sepa if fields.street_sepa != None else '' }}">
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете тук името на Вашата улицата, моля. То трябва да бъде същото като адреса, който сте записали по-рано.<br>
                <i>Трябва да започнете с буква и не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i>
            </details> </span>
        </li>
        <li>
            <label for="home_nr">Номер на улица</label>
            <input type="text" id="street_nr" name="street_nr" value="{{fields.streetnumber_sepa if fields.streetnumber_sepa != None else '' }}">
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете тук номера на Вашата улицата, моля. То трябва да бъде същото като адреса, който сте записали по-рано.
                </details></span>
        </li>
        <li>
            <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value="Изпращане">
        </li>
        </ul>
    </form>
    {% endblock %}