{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa4" method="POST">
    <h1>Мандат за директен дебит на SEPA 4 от 4</h1>
    <ul>
        <li>
            <label for="IBAN">IBAN номер:</label>
            <input type="text" id="IBAN" name="IBAN" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете IBAN на банковата си сметка тук, моля. Той е известен и като идентификационен код на вашата банка. <br>
                Това е връзка от държавата, в която живеете, вашия банков код и номер на вашата сметка.<br>
                Например: <i>DE02120300000000202051     </i>
            </details> </span>
        </li>
        <li>
            <label for="BIC">BIC номер:</label>
            <input type="text" id="BIC" name="BIC" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете BIC на вашата банкова сметка тук, моля. Той е известен също като вашия банков идентификационен код.<br>
                Например: <i>BYLADEM1001</i>	
            </details></span>
        </li>
        <li>
            <label for="credit_institution">Банкова институция:</label>
                    <input type="text" id="credit_institution" name="credit_institution" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете тук името на вашата банкова институция, моля.
                    Например: <i>УниКредит Булбанк </i>
            </details></span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
        </li>
    </ul>
</form>
{% endblock %}