{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa4" method="POST">
    <h1>Мандат за директен дебит на SEPA 4 от 4</h1>
    <ul>
        <li>
            <label for="IBAN">IBAN номер</label>
            <input type="text" id="IBAN" name="IBAN" pattern="\p{Upper}{2}[0-9]{20}$" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете IBAN на банковата си сметка тук, моля. Той е известен и като идентификационен код на вашата банка. <br>
                Това е връзка от държавата, в която живеете, вашия банков код и номер на вашата сметка.<br>
                <i>След това трябва да напишете две главни букви и 20 букви.</i>
                Например: DE02120300000000202051    
            </details> </span>
        </li>
        <li>
            <label for="BIC">BIC номер</label>
            <input type="text" id="BIC" name="BIC" pattern="[^\p{Lower}]{7,8}[0-9]{0,4}$" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете BIC на вашата банкова сметка тук, моля. Той е известен също като вашия банков идентификационен код.<br>
                <i>Трябва да напишете поне 7 и най-много 8 главни букви и най-много 4 цифри.</i><br>
                Например: BYLADEM1001	
            </details></span>
        </li>
        <li>
            <label for="credit_institution">Банкова институция:</label>
                    <input type="text" id="credit_institution" name="credit_institution" pattern="^[A-Za-z]+(([-]|[\s])?[A-Za-z]+)*" required>
            <span><details>
                <summary>
                    Помощ?
                </summary>Въведете тук името на вашата банкова институция, моля.<br>
                <i>Трябва да започнете с буква и не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i><br>
                    Например: УниКредит Булбанк 
            </details></span>
        </li>
        <li>
            <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value="Изпращане">
        </li>
    </ul>
</form>
{% endblock %}