<!DOCTYPE html>
<!---->
<!-- A html tag with the necessary language for the page-->
<!-- <html lang="bg/en/de/fr">-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=firefox">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- static linking-->
    <!--                        |                           -->
    <!--                        |                           -->
    <!--                        v                           -->
    <!-- <link rel="stylesheet" href="static/css/main.css"> -->


    <!-- Elements from head-->
    <!-- Example: <title> Title </title> -->

    {% block head %} {% endblock %}
</head>

<body>

    <nav>
        <div class="topnav" id="myTopnav">
            <a href="/en/home"><button class="active">Homepage</button></a>
            <a href=""> <button class="document">Documents</button></a>
            <div>
                <a href=""></a>
                <a href="?lang=en"> <img src="{{url_for('static', filename='images/us.png')}}"> </a>
                <a href="?lang=de"> <img src="{{url_for('static', filename='images/de.png')}}"> </a>
                <a href="?lang=bg"> <img src="{{url_for('static', filename='images/bg.png')}}"> </a>
                <a href="?lang=fr"> <img src="{{url_for('static', filename='images/fr.png')}}"> </a>
            </div>

            <div>
                <a href=""></a>
                <a href="/{{language}}/about"><button class="about_and_logout">About us</button></a>
                <a href=""><button class="about_and_logout">Logout</button></a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </nav>

    <script type="text/javascript" src="{{url_for('static', filename='javascript/navbar.js')}}"></script>

    <!-- Elements from body-->
    <!-- Example: <h1> Website </h1> -->
    {% block body %} {% endblock %}
    <footer>
        
            <a href="/{{language}}/privacy_policy"> privacy policy</a>
            <a href="/{{language}}/legal_notice">legal notice</a>
        

    </footer>
</body>


</html>