<!DOCTYPE html>
<!---->
<!-- A html tag with the necessary language for the page-->
<!-- <html lang="bg/en/de/fr">-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=firefox">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- static linking-->
    <!--                        |                           -->
    <!--                        |                           -->
    <!--                        v                           -->
    <!-- <link rel="stylesheet" href="static/css/main.css"> -->


    <!-- Elements from head-->
    <!-- Example: <title> Title </title> -->

    {% block head %} {% endblock %}
</head>

<body>

    <nav class="Navbar">
        <div class="topnav" id="myTopnav">
            <a href="/en/home" class="active">Homepage</a>
            <a href="">Documents</a>
            <div class="flags">
                <a href="?lang=en"> <img src="{{url_for('static', filename='images/us.png')}}"> </a>
                <a href="?lang=de"> <img src="{{url_for('static', filename='images/de.png')}}"> </a>
                <a href="?lang=bg"> <img src="{{url_for('static', filename='images/bg.png')}}"> </a>
                <a href="?lang=fr"> <img src="{{url_for('static', filename='images/fr.png')}}"> </a>
            </div>
            <div class="about_and_logout">
                <a href="/{{language}}/about">About us</a>
                <a href="">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </nav>

    <!-- Elements from body-->
    <!-- Example: <h1> Website </h1> -->
    {% block body %} {% endblock %}
</body>
<footer>
    <div class="Navbar">
         <a href="/Web_A-5_Project_Repo/templates/en/privacy_policy.html"> privacy policy</a>
         <a href="/Web_A-5_Project_Repo/templates/en/legalNotice.html">Legal notice</a>
    </div>
    
</footer>

</html>