{% extends 'en/en_base.html' %}


{% block head %}
<!-- <title> ... </title>-->
<title> Welcome </title>
{% endblock %}
{% block body %}
<h1>Welcome</h1>
<hr>
<h2> Please remember that we still need your signature and the date as validation! This is where you have to sign in! <details>
    <summary>This is how it looks like!</summary>
    <img src="{{url_for('static', filename='images/Part_3_en.png')}}" class="image">
    </details>
    <br>  In case you have decided to send the money with a SEPA mandate you have to give another signature!
            <details><summary>This is how it looks like!</summary>
                <img src="{{url_for('static', filename='images/Part_5_en.png')}}" class="image">
            </details>
</h2>
    
<p>If you need any kind of additional help, please do not hesitate to reach out the helpline <a href="https://www.mannheim.de/de/service-bieten/integration-migration/anima-ankommen-in-mannheim">ANIMA </a></p>
<h2>If you want to download your document as a pdf, please on click the button!</h2>
<form method="get" action="gez_test_form.pdf">                       <!-- Filler zum downloaden-->
    <button type="submit">Download!</button>
 </form>
<p>
    If you would like to fill out any other document, please click <a href="/{{language}}/home">here</a>.
</p>

{% endblock %}