<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width , initial-scale =1.0"/>
        <title>Legal Notice</title>
    </head>
    <body>
        <header><h1>Legal Notice</h1></header>
        
    
        <p><strong>Stadt Mannheim</strong><br>
            Rathaus E 5<br>
            D-68159 Mannheim<br>
            Fon +49 621 293-0<br>
            Fax +49 621 293-9532<br>
            E-Mail:<a href= "mailto:stadtverwaltung@mannheim.de">stadtverwaltung@mannheim.de</a> 
        </p>
        <p>Stadt Mannheim is a corporation under public law.
            It is represented by the Lord Mayor Dr. Peter Kurz, Rathaus E 5, 68 159 Mannheim.
        </p>
        <h2>VAT identification number</h2>
        <p>pursuant to § 27 a VAT law: DE 143 845 211
        </p>
        <p>
        <em>Reference to VAT identification number:</em><br>
        The Stadt Mannheim is only commercially or professionally active in the context of its businesses of a commercial nature (Section 1 (1) No. 6, Section 4 of the Corporate Tax Act). In addition, the VAT identification number is required for intra-Community acquisitions (§ 1 a of the VAT Act).
        </p>
        <p>
        <h2>Out-of-call online settlement</h2>
        <p>
            The European Commission is providing this platform <a href=" https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=EN" target="_blank">https://ec.europa.eu/consumers/odr/ </a> for out-of-court online resolution.
        </p>
        Information according to § 36 Law on the settlement of consumer law
        Stadt Mannheim is neither willing nor obliged to participate in a dispute settlement procedure before a consumer arbitration body.
        </p>
        <p>
            <h2>General responsibility for content</h2>
            <h3>Principle of equal treatment</h3>
            <p>Equality of all persons before the law and protection from discrimination is a universal human right. Every human being has a fundamental right to state action in accordance with the law, i. e. impartial.
            </p>
            <p>The website of Stadt Mannheim is committed to this principle, the objectives of the European Community to protect against discrimination and its legal implementation in the General Equal Treatment Act (AGG).</p>
            <p>In this respect, Stadt Mannheim Mannheim endeavours to prevent or eliminate discrimination on grounds of race or ethnic origin, sex, religion or belief, disability, age or sexual identity.
            </p>
        </p>
        <p>
        <h2>Copyright, liability</h2>
        <p>The layout of the homepage, the graphics used as well as the collection of contributions are protected by copyright.  The pages may only be reproduced for private use, no changes may be made and no copies may be distributed or used for public reproduction.  The individual contributions are also protected by copyright;  further information can be found there if necessary.  All information on this server is provided without guarantee for its correctness.  Under no circumstances shall any liability be assumed for damages resulting from the use of the information retrieved.</p>
        <p>The content on the Mannheim server is the responsibility of the respective content providers.  Their subordinate imprint informs about this.</p>
        <p>Despite careful control of the content, we do not accept any liability for the content of external links.  We expressly declare that we have no influence on the design and content of the linked pages.  We therefore expressly distance ourselves from all contents of the pages, which are accessible via links from this page.  This declaration applies to all links and references set within our website.</p>
        </p>
        <p>
        <h2>External data sources</h2>
        This website uses:
        </p>
        

    </body>


</html>