{% extends 'de/de_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information3" method='POST'>
    <h1>Allgemeine Informationen 3/3</h1>
    <ul>
        <li>
            <label for="dateOfBirth">Geburtsdatum</label>
            <input type="date" name="dateOfBirth" id="dob" value="{{fields.date_of_birth if fields.date_of_birth != None else '' }}" required>
            <span>
                <details>
                    <summary>Hilfe?</summary>
                    <p>Bitte geben Sie hier ihr Geburtsdatum ein.
                        <br> Es ist der tag andem Sie geboren wurden.
                    </p>
                </details>
            </span>
        </li>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <li>
            <input type="button" value="Zurück" onClick="javascript:history.back()">
            <input type="submit" value="Senden">
        </li>
    </ul>
</form>
{% endblock %}