{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa3" method="POST">
    <h1>SEPA direct debit mandate 3 of 4</h1>
    <ul>
        <li>
            <label for="ZIP_code">ZIP</label>
            <input type="text" id="ZIP_code" name="ZIP_code" pattern="[0-9]{5}$"  required>
            <span><details>
                <summary>
                    Help?
                </summary>Enter the ZIP-code of your adress here please. It should be the same just as the address you wrote down earlier.<br>
                <i>A ZIP in germany has 5 letters!</i><br>
                 For example 67812, 62342
            </details> </span>
        </li>
        <li>
            <label for="area">City</label>
            <input type="text" id="area" name="area" pattern="^[A-Za-zßÄÖÜäöü]+(([-]|[\s])?[A-Za-zßÄÖÜäöü]+)*" required>
            <span><details>
                <summary>
                    Help?
                </summary>Enter the City of your home here please. It should be the same just as the address you wrote down earlier.<br>
                            <i>You can not write any numbers, nor any special signs except a minus (-)</i><br>
                            For example: Johntown, Getinsburg.
                </details> </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
        </li>
    </ul>
</form>
{%endblock%}