{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa4" method="POST">
    <h1>SEPA direct debit mandate 4 of 4</h1>
    <ul>
        <li>
            <label for="IBAN">IBAN:</label>
            <input type="text" id="IBAN" name="IBAN" pattern="\p{Upper}{2}[0-9]{20}$" required>
            <span><details>
                <summary>
                    Help?
                </summary>Enter the IBAN of your bank account here please. It is also known as your bank identification code. <br>
                It is a connection from the country you live in, your bank code and your account number.<br>
                <i>You have to write two uppercase letters and 20 letters afterwards.</i><br>
                For example: DE02120300000000202051     
            </details> </span>
        </li>
        <li>
            <label for="BIC">BIC:</label>
            <input type="text" id="BIC" name="BIC" pattern="[^\p{Lower}]{7,8}[0-9]{0,4}$" required> <!-- \p{Upper}{8} -->
            <span><details>
                <summary>
                    Help?
                </summary>Enter the BIC of your bank account here please. It is also known as your Bank Identifier Code.<br>
                <i>You have to write at least 7 and and most 8 uppercase letters and at most 4 numbers.</i><br>
                For example: BYLADEM1001	
            </details></span>
        </li>
        <li>
            <label for="credit_institution">Credit institution:</label>
                    <input type="text" id="credit_institution" name="credit_institution" pattern="^[A-Za-z]+(([-]|[\s])?[A-Za-z]+)*" required>
            <span><details>
                <summary>
                    Help?
                </summary>Enter the name of your credit institution here please.<br>
                <i>You have to start with a letter, and you can not write any numbers, nor any special signs except a minus (-)</i><br>
                For example: DEUTSCHE KREDITBANK BERLIN 
            </details></span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
        </li>
    </ul>
</form>
{% endblock %}