{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<div class="pers-fields">
    <form action="/{{language}}/gez/payment_methods" method="POST">
        <h1>Types de paiement 2 sur 2</h1>
        <ul>
            <li>
            <label for="">Type de transfert</label>
            <input type="radio" id="sepa" name="type" value="1" required> Par mandat Sepa <br>
            <input type="radio" id="bank_transfer" name="type" value="2"> Par virement bancaire
            <span><details>
                <summary>
                    Aider?
                </summary>Veuillez choisir comment vous souhaitez payer les frais, vous pouvez soit donner à SEPA le droit de retirer de l'argent de votre compte, soit effectuer vous-même un virement bancaire. <br>
                Si vous décidez d'utiliser SEPA, nous avons besoin de vos informations bancaires. Vous serez redirigé vers une autre page où vous pourrez remplir vos informations bancaires.<br>
                Si vous décidez d'envoyer l'argent par virement bancaire, vous serez dirigé vers la dernière étape de ce document, mais vous devrez envoyer l'argent plus tard par vous-même.
            </details>
                
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit"><br>
            
        </li>            
    </ul>
</form>
</div>

{% endblock %}