{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information1" method='POST'>
    <h1>Обща информация 1 от 3</h1>
    <ul>
        <li>
            <label for="">Пол</label>
            <input type="radio" name="gender" id="radioMale" required> Мъж
            <input type="radio" name="gender" id="radioFemale"> Жена
            <span><details><summary>
                Помощ?
            </summary> 
                <p>Моля, изберете пол </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value="Изпращане">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}