{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information2" method='POST'>
    <h1>Обща информация 2 от 3</h1>
    <ul>
        <li>
            <label for="fName">Първо име</label>
            <input type="text" name="firstName" id="fName" pattern="^[A-Za-z]+(([-]|[\s])?[A-Za-z]+)*" value="{{fields.first_name if fields.first_name != None else '' }}" required>
            <span><details><summary>
                Помощ?
            </summary> 
                <p>Моля, напишете си първото име.
                    <br> Може да го намерите на личната Ви карта. 
                <i>Можете да запишете няколко собствени имена, в случай че имате повече от едно. Не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i></p>
            </details></span>
        </li>
        <li>
            <label for="lastName">Фамилия</label>
            <input type="text" name="lastName" id="lName" pattern="^[A-Za-z]+(([-]|[\s])?[A-Za-z]+)*" value="{{fields.last_name if fields.last_name != None else '' }}" required>
            <span><details><summary>
                Помощ?
            </summary> 
                <p>Моля, напишете си последното име. 
                    <br> Още познато като Вашата фамилия, може да го намерите на личната Ви карта.
                    <br> <i>Можете да запишете няколко фамилни имена, в случай че имате повече от едно. Не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i>
                </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value="Изпращане">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}