{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information" method='POST'>
    <h1>General Information 3 of 3</h1>
    <ul>
        <li>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="dob" required>
            <span><details><summary>
                Help?
            </summary> 
                <p>Enter your date of birth here please 
                    <br> It is the day you were born.
                </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}