{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information3" method='POST'>
    <h1>Обща информация 3 от 3</h1>
    <ul>
        <li>
            <label for="dateOfBirth">Дата на раждане</label>
            <input type="date" name="dateOfBirth" id="dob" required>
            <span><details><summary>
                Помощ?
            </summary> 
                <p>Въведете тук датата си на раждане, моля 
                    <br> Денят, в който сте родени.
                </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}