{% extends 'de/de_base.html' %}


{% block head %}
<!-- <title> ... </title>-->
<title> Willkommen </title>
{% endblock %}
{% block body %}
<h1>Willkommen </h1>
<hr>
<h2> Vergiss bitte nicht das Sie noch das Dokument unterschreiben müssen!<details>
    <summary>Hier müssen Sie unterschreiben!</summary>
    <img src="{{url_for('static', filename='images/Part_3.png')}}" class="image">
    </details>
    <br> </h2>
    
<p>Wenn Ihnen irgendwas unklar geblieben ist, oder Sie weitere Fragen haben, kontaktieren Sie bitte eine Beratungsstelle wie die ANIMA unter <a href="https://www.mannheim.de/de/service-bieten/integration-migration/anima-ankommen-in-mannheim"></a>ANIMA </a></p>
<p>
    Wenn Sie irgnedwelche anderen Dokumente ausfüllen müssen, bitte klicken Sie <a href="/{{language}}/gez/home">hier</a>.
</p>

{% endblock %}