{% extends 'de/de_base.html' %}


{% block head %}
<title> Datenschutzrichtlinien</title>
{% endblock %}
{% block body %}

<h1>Datenschutzrichtlinien der GEZ</h1>

<p>Hier in unserem Projekt ist die Sicherheit ihrer privaten einer unserer top Prioritäten. Dieses Datenschutzdokument beinhaltet jegliche Art von 
    Informtion die wir sammeln und wie wir diese auch nutzen.
    </p>

<p>Falls Sie weitere Fragen haben, bitte zögern Sie nicht uns zu kontaktieren

</p>

<p>Dieses Datenschutzdokument gilt für unsere Onlineseite und ist gültig für Besucher unserer Seite für die Daten die Sie mit uns teilen für dieses Projekt.
    Dieses Dokument ist nicht gültigfür jegliche offline Interaktionen oder über anderen Seiten als dieser Webseite.</p>

<h2>Einverständnis</h2>

<p>Beim Nutzen unserer Seite willigen Sie unseren Datenschutzrichtlinien ein.</p>

<h2>Von uns zu sammelnde Informationen</h2>

<p>Die persönlichen Daten die wir von Ihnen fragen, und der Grund wieso wir diese von Ihnen verlangen,
    wird Ihnen genauer erklärt wenn wir diese von Ihnen verlangen.</p>
<p>Falls Sie uns direkt kontaktieren würden, würden wir weitere Informationen erhalten wie Ihren Namen, Ihre Email Adresse, Ihre Telefonnummer,
    der Inhalt der Nachricht die Sie uns senden, und jegliche weitere Informationen die Sie uns bereitstellen würden.</p>
<p>Wenn Sie sich registrieren, werden wir nach Ihren Kontaktinformationen fragen, darunter gehört Ihr Name, Adresse, Ihre Email-Adresse und Ihre Telefonnummer.</p>

<h2>Wie wir Ihre Informationen nutzen</h2>

<p>Wir Nutzen die Informationen die wir sammeln unter anderem um:</p>

<ul>
    <li>unsere Webseite weiterhin ausführen und anbieten zu können</li>
    <li>unsere Webseite zu verbessern und sie für Sie angenehmer zu bereiten</li>
    <li>zu verstehen und zu analysieren wie Sie unsere Webseite nutzen</li>
    <li>Ihnen Emails zu senden</li>
    <li>Betrüger zu finden und zu entlarven</li>
</ul>

<h2>Login Protokoll</h2>

<p>GEZ-Help verfolgt eine Standardprozedur für Login Protokolle. Diese Protokolle speichert sich die Logins der Benutzer auf dieser Seite.
    Alle Datenhosting Unternehmen und einige nutzen solch ein Protokoll. Unter den gesammelten Daten zählen auch die genutzte IP-Adresse, 
    den Browsertypen, den Internet Service Provider (ISP), Datum und Zeit des Logins, weitere referring/exit pages. Diese Daten
    sind nicht verbunden mit irgendwelchen persönlichen Informationen die wir zuvor von Ihnen erhielten. Diese Daten werden genutzt um 
    Aktivitäten auf der Seite zu analysieren, die Seite zu verwalten und demografische Daten zu sammeln.</p>

<h2>Cookies</h2>

<p>Unsere Webseite nutzt "Cookies". Diese Cookies sammeln Informationen, unter anderem welches Dokument der Benutzer dieser
    Seite auswählte und ausführte. Diese Informationen werden genutzt um die Seite für für den Benutzer der Seite zu optimieren.
</p>

<h2>Datenschutzrichtlinien von Drittpersonen</h2>

<p>Unsere Datenschutzrichtlinien sind nicht auf anderen Webseiten wirksam. Wir empfehlen Ihnen sich die Datenschutzrichtlinien
    dieser Seiten durchzugehen für genauere Informationen. Diese könnten andere Vorgehensweisen als unsere eigene Webseite nutzen. </p>

<p>Sie können unsere Cookies auch selbst über Ihren individuellen Browsereinstellungen löschen. Wenn Sie mehr über Ihren Cookie management
    lesen wollen, finden Sie die notwendigen Informationen über der Webseite Ihres Browsers.</p>

<h2>Europäische Datenschutz-Grundversorgung(DSGVO)</h2>

<p>Unsere Webseite arbeitet unter den Rechtlinien des DSGVO.</p>

<h2>GDPR Data Protection Rights</h2>

<p>Wir möchten sicherstellen, dass Sie alle Ihre Datenschutzrechte vollständig kennen. Jeder Benutzer hat Anspruch auf die
    Folgendes:</p>
<p>Zugriffsrecht - Sie haben das Recht, Kopien Ihrer persönlichen Daten anzufordern.</p>
<p>Das Recht auf Berichtigung - Sie haben das Recht zu verlangen, dass wir alle Informationen korrigieren, die Sie für ungenau halten.
    Sie haben auch das Recht zu verlangen, dass wir die Informationen vervollständigen, die Sie für unvollständig halten.</p>
<p>Das Recht auf Löschung - Sie haben das Recht, unter bestimmten Bedingungen zu verlangen, dass wir Ihre persönlichen Daten löschen.</p>
<p>Das Recht, die Verarbeitung einzuschränken - Sie haben das Recht zu verlangen, dass wir die Verarbeitung Ihrer persönlichen Daten einschränken 
    bestimmten Umständen.</p>
<p>Widerspruchsrecht - Sie haben unter bestimmten Bedingungen das Recht, der Verarbeitung Ihrer personenbezogenen Daten zu widersprechen.</p>
<p>Das Recht auf Datenübertragbarkeit - Sie haben das Recht zu verlangen, dass wir die von uns gesammelten Daten unter bestimmten Bedingungen an eine andere Organisation oder direkt an Sie übertragen.</p>
<p>Wenn Sie eine Anfrage stellen, haben wir einen Monat Zeit, um Ihnen zu antworten. Wenn Sie eines dieser Rechte ausüben möchten, kontaktieren Sie uns bitte.</p>

{% endblock %}