{% extends 'de/de_base.html' %}


{% block head %}
<!-- <title> ... </title>-->
<title>Registrierung</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/register.js')}}"></script>
<form action="/{{language}}/register" method="POST">
    <h1>Registrierung</h1>
    <ul>
        <li>
            <label for="uNameReg">Benutzername</label>
            <input type="text" name="userNameReg" id="uNameReg" required>
            <span>Wählen Sie ihren Benutzernamen.</span>
        </li>
        <li>
            <label for="">Passwort</label>
            <input type="password" name="" id="password1" required>
            <span>Bitte wählen Sie ihr Passwort.</span>
            <br>
            <input type="password" name="" id="password2" required>
            <span>Bitte wiederholen Sie ihr Passwort.</span>
        </li>
        <li>
            <label for="mail">E-Mail</label>
            <input type="email" name="email" id="mail" required>
            <span>Bitte geben Sie ihre E-Mail Adresse ein.</span>
        </li>

        <h2>Dieser Part ist optional</h2>
        <li>
            <label for="">Geschlecht</label>
            <input type="radio" name="gender" id="radioMale"> Männlich
            <input type="radio" name="gender" id="radioFemale"> Weiblich
            <span>Bitte geb Sie ihr Geschlecht ein.</span>
        </li>
        <li>
            <label for="fName">Vorname</label>
            <input type="text" name="firstName" id="fName" pattern="\p{Alpha}*">
            <span>Bitte gebn Sie ihren Vornamen ein.</span>
        </li>
        <li>
            <label for="lastName">Nachname</label>
            <input type="text" name="lastName" id="lName" pattern="\p{Alpha}*">
            <span>Bitte geben Sie ihrem Nachnamen ein.</span>
        </li>
        <li>
            <label for="dateOfBirth">Geburtsdatum</label>
            <input type="date" name="dateOfBirth" id="dob">
            <span>Bitte geben Sie ihr Geburtsdatum ein.</span>
        </li>
        <li>
            <label for="">Sprache</label>
            <input type="radio" name="language" id="en" value="en"> English
            <input type="radio" name="language" id="de" value="de"> German
            <input type="radio" name="language" id="bg" value="bg"> Bulgarian
            <input type="radio" name="language" id="fr" value="fr"> French
            <span>Bitte wählen Sie ihre bevorzugte Sprache.</span>
        </li>
        <li>
            <input type="submit" value="Senden" onclick=checkPasswordValidity()>
        </li>
    </ul>
</form>

{% endblock %}