/*
 Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...}
 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}
 Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}
 Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}
 Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} 
*/

html{
    width: 900px;
}

body{
    text-align: center;
}
table {
    margin:auto auto auto 400px;
    width: 70%;
    border: 2px solid black;
}

tr {
    border: 2px solid black;
    text-align: center;
}
td{
    border: 2px solid black;
    text-align: center;
}
th{
    border: 2px solid black;
    text-align: center;
}
td.formular-fields{
    width: 10%;
    height: 40px;
}
td.video-fields{
    width: 20%;
}
td.info-fields{
    width: 400px;
}
.extra-info{
    display: none;
    line-height: 30px;
    font-size: 12px;
}
.info-button:hover {
    background-color: white;
    padding: 0 0 0 5px;
    width: 300px;
    text-align: left;
}
.info-button:hover .extra-info{
    display: block;
}
*{
    transition: .4s;
}

