body{
    text-align: center;
}
table {
    margin:auto auto auto 300px;
    width: 60%;
    border: 2px solid black;
}

tr {
    border: 2px solid black;
    text-align: center;
}
td{
    border: 2px solid black;
    text-align: center;
}
th{
    border: 2px solid black;
    text-align: center;
}
td.formular-fields{
    width: 10%;
    height: 40px;
}
td.video-fields{
    width: 20%;
}
td.info-fields{
    width: 30%;
}
