{% extends 'de/de_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa3" method="POST">
    <h1>SEPA-lastschriftmandat 3/4</h1>
    <ul>
        <li>
            <label for="ZIP_code">PLZ</label>
            <input type="text" id="ZIP_code" name="ZIP_code" pattern="[0-9]{5}$" value="{{fields.zip_code_sepa if fields.zip_code_sepa != None else '' }}">
            <span>
                <details>
                    <summary>Hilfe?</summary>
                    <p>Bitte geben Sie die PLZ des Kontoinhabers ein. Bitte beachten Sie, dass der Kontoinhaber von der
                        Person die den Antrag stellt abweichen kann.<br>
                        <i>Eine Postleitzahl besteht aus 5 Ziffern!</i><br>
                        Zum Beispiel: 68305, 62342
                    </p>
                </details>
            </span>
        </li>
        <li>
            <label for="area">Stadt</label>
            <input type="text" id="area" name="area" pattern="^[A-Za-zzßÄÖÜäöü]+(([-]|[\s])?[A-Za-zzßÄÖÜäöü]+)*" value="{{fields.city_sepa if fields.city_sepa != None else '' }}">
            <span>
                <details>
                    <summary>Hilfe?</summary>
                    <p>Bitte geben Sie den Namen der Stdat ein in der der Kontoinhaber lebt. Bitte beachten Sie, dass
                        der Kontoinhaber von der
                        Person die den Antrag stellt abweichen kann.</p>
                </details>
            </span>
        </li>
        <li>
            <input type="button" value="Zurück" onClick="javascript:history.back()">
            <input type="submit" value="Senden">
        </li>
    </ul>
</form>
{% endblock %}