{% extends 'de/de_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa" method="POST">
    <h1>SEPA-lastschriftmandat 3/4</h1>
    <ul>
        <li>
            <label for="ZIP_code">PLZ:</label>
            <input type="text" id="ZIP_code" name="ZIP_code" pattern="[0-9]{5}$" required>
            <span>
                <details>
                    <summary>Hilfe?</summary>
                    <p>Bitte geben Sie die PLZ des Kontoinhabers ein. Bitte beachten Sie, dass der Kontoinhaber von der
                        Person die den Antrag stellt abweichen kann.</p>
                </details>
            </span>
        </li>
        <li>
            <label for="area">Stadt:</label>
            <input type="text" id="area" name="area" required>
            <span>
                <details>
                    <summary>Hilfe?</summary>
                    <p>Bitte geben Sie den Namen der Stdat ein in der der Kontoinhaber lebt. Bitte beachten Sie, dass
                        der Kontoinhaber von der
                        Person die den Antrag stellt abweichen kann.</p>
                </details>
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Senden">
        </li>
    </ul>
</form>
{%endblock}