{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress2" method="POST">
        <h1> Адрес 2 от 5</h1>
        <ul>
            <li>
    <label for="street">Улица</label>
    <input type="text" name="street" id="street" pattern="^[A-Za-zßÄÖÜäöü]+(([-]|[\s])?[A-Za-zßÄÖÜäöü]+)*" value="{{fields.street if fields.street != None else '' }}" required>
    <span class="extra-info"> <details><summary>
        Помощ?
    </summary> 
        <p>Моля, въведете името на улицата, в която живеете. Например: Улица-пример, Примерна-улица<br>
            <i>Трябва да започнете с буква и не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i>
        </p>
    </details>
        
    </span>
</li>
<li>
    <label for="street_nr">Номер на улица</label>
    <input type="text" id="street_nr" name="street_nr" value="{{fields.streetnumber if fields.streetnumber != None else '' }}" required>
    <span class="extra-info"><details><summary>
        Помощ?
    </summary> 
        <p>Моля, въведете номера на вашия апартамент на дадената улица. Например 2, 4а, 254
        </p>
    </details>
        
    </span>
</li>
<li>
    <input type="button" value="обратно" onClick="javascript:history.back()">
    <input type="submit" value='Изпращане'>
</li>
</ul>
</form>
</div>
{% endblock %}