{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress3" method="POST">
        <h1> Адрес 3 от 5</h1>
        <li>
            <label for="adress_additions">Допълнителна информация за адрес(опционално) :</label>
            <input type="text" id="adress_additions" name="adress_additions" required>
            <span class="extra-info"><details><summary>
                Помощ?
            </summary> 
               <p> Моля, въведете допълнителна информация относно Вашия адрес. Например: 1-ви етаж вдясно, 15
                   <br> Изцяло опционално.
            </p>
            </details>
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value='submit'>
        </li>

    </ul>
    </form>
    {% endblock %}