{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress4" method="POST">
        <h1> Адрес 4 от 5</h1>
        <ul> <li>
            <label for="zip_code">Пощенски код</label>
            <input type="text" id="zip_code" name="zip_code" pattern="[0-9]{5}$" value="{{fields.zip_code if fields.zip_code != None else '' }}" required>
            <span class="extra-info"><details><summary>Помощ?

            </summary>
            Моля, въведете пощенския код на адреса си.<br>
            <i>Пощенският код има 5 цифри</i><br>
             Например 67812, 62342
            </details>
        </span>
        </li>
        <li>
            <label for="city">Град</label>
            <input type="text" id="city" name="city" pattern="^[A-Za-zßÄÖÜäöü]+(([-]|[\s])?[A-Za-zßÄÖÜäöü]+)*" value="{{fields.city if fields.city != None else '' }}" required>
            <span class="extra-info"><details><summary>Помощ?

            </summary>
            Моля, въведете името на града, в който живеете. <br>
            <i>Не можете да пишете никакви цифри, нито някакви специални знаци с изключение на минус (-)</i><br>
            Например: София, Пазарджик.
        </details>
               
            </span>
        </li>
        <li>
            <input type="button" value="обратно" onClick="javascript:history.back()">
            <input type="submit" value='Изпращане'>
        </li>

    </ul>
    </form>
    {% endblock %}