{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress4" method="POST">
        <h1> Адрес 4 от 5</h1>
        <ul> <li>
            <label for="zip_code">Пощенски код:</label>
            <input type="text" id="zip_code" name="zip_code" pattern="[0-9]{5}$" required>
            <span class="extra-info"><details><summary>Помощ?

            </summary>
            Моля, въведете пощенския код на адреса си. Например 67812, 62342
            </details>
        </span>
        </li>
        <li>
            <label for="city">Град:</label>
            <input type="text" id="city" name="city" pattern="[A-Za-z]+(([-]|[\s])?[A-Za-z]+)*" required>
            <span class="extra-info"><details><summary>Помощ?

            </summary>
            Моля, въведете името на града, в който живеете. Например: София, Пазарджик.
        </details>
               
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value='submit'>
        </li>

    </ul>
    </form>
    {% endblock %}