{% extends 'de/de_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress1" method="POST">
        <h1> Adresse 1/5</h1>
        <ul>
            <li>
                <label for="date_registered">Datum der Anmeldung</label>
                <input type="date" id="date_registered" name="date_reg" value="fields.registration_date if fields.registration_date != None else '' " required>
                <span>
                    <details>
                        <summary>
                            Hilfe?
                        </summary>
                        <p>Bitte geben Sie das exakte Datum der Registrierung an.</p>
                    </details>
                </span>
            </li>
            <li>
                <input type="button" value="Zurück" onClick="javascript:history.back()">
                <input type="submit" value='Senden'>
            </li>
        </ul>
    </form>
</div>
{% endblock %}