{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<div class="pers-fields">
    <form action="/{{language}}/gez/payment_methods1" method="POST">
        <h1>Types of payment 1 of 2</h1>
        <ul>
            <li>
                <label for="">Timespan</label>
                <input type="radio" id="3-months" name="timespan" value="1" required>In the middle of the first 3 months(at the 15th) <br> <br>
                <input type="radio" id="3-months-before" name="timespan" value="2">3 Months prepaid:(1.1, 1.4, 1.7, 1.10) <br> <br>
                <input type="radio" id="6-months-before" name="timespan" value="3">6 Months prepaid:(1.1, 1.7) <br> <br>
                <input type="radio" id="12-months-before" name="timespan" value="4">12 Months prepaid(1.1) <br> 
                <span><details>
                    <summary>
                        Help?
                    </summary> Please choose the timespan in which you want to pay the fee.
                </details>
                    
                </span>
            </li>
            <li>
                <input type="button" value="Back" onClick="javascript:history.back()">
                <input type="submit" value="Submit"><br>
                
            </li>            
        </ul>
    </form>
</div>

{% endblock %}
