{% extends 'en/en_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<div class="pers-fields">
    <form action="/{{language}}/gez/payment_methods" method="POST">
        <h1>Types of payment</h1>
        <ul>
            <li>
            <label for="">Type of Transfer</label>
            <input type="radio" id="sepa" name="type" value="1" required> Through Sepa mandate <br>
            <input type="radio" id="bank_transfer" name="type" value="2"> Through Bank transfer
            <span><details>
                <summary>
                    Help?
                </summary>Please chose how you would like to pay the fee, you can either give SEPA the right to withdraw money from your acount or do a bank transfer on your own. <br>
                If you decide to use SEPA, we need your banking informations. You will be sent to another page where you can fill out your banking informations.<br>
                If you decide to send the money through a bank transfer, you will be sent to the last step of this document, but you have to send the money later on your own.
            </details>
                
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit"><br>
            
        </li>            
    </ul>
</form>
</div>

{% endblock %}