{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa" method="POST">
    <h1>Mandat de prélèvement SEPA 2 sur 4</h1>
    <ul>
        <li>
            <label for="street">rue:</label>
            <input type="text" id="street" name="street" required>
            <span><details>
                <summary>
                    Aider?
                </summary>Entrez ici le nom de la rue de votre maison. Ce devrait être la même que l'adresse que vous avez écrite plus tôt.
            </details> </span>
        </li>
        <li>
            <label for="home_nr">Numéro de rue:</label>
            <input type="text" id="street_nr" name="street_nr" required>
            <span><details>
                <summary>
                    Aider?
                </summary>Entrez ici le numéro de rue de votre maison. Ce devrait être la même que l'adresse que vous avez écrite plus tôt.
                </details></span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
        </li>
        </ul>
    </form>
    {% endblock %}