{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}

<form action="/{{language}}/gez/sepa4" method="POST">
    <h1>Mandat de prélèvement SEPA 4 sur 4</h1>
    <ul>
        <li>
            <label for="IBAN">IBAN:</label>
            <input type="text" id="IBAN" name="IBAN" pattern="\p{Upper}{2}[0-9]{20}$" required>
            <span><details>
                <summary>
                    Aider?
                </summary>Saisissez ici l'IBAN de votre compte bancaire. Il est également connu sous le nom de code d'identification bancaire. <br>
                Il s'agit d'une connexion depuis le pays dans lequel vous vivez, votre code bancaire et votre numéro de compte.<br>
                Par example: <i>DE02120300000000202051     </i>
            </details> </span>
        </li>
        <li>
            <label for="BIC">BIC:</label>
            <input type="text" id="BIC" name="BIC" pattern="[^\p{Lower}]{7,8}[0-9]{0,4}$" required>
            <span><details>
                <summary>
                    Aider?
                </summary>Saisissez ici le BIC de votre compte bancaire. Il est également connu sous le nom de code d'identification de votre banque.<br>
                Par example: <i>BYLADEM1001</i>	
            </details></span>
        </li>
        <li>
            <label for="credit_institution">Établissement de crédit:</label>
                    <input type="text" id="credit_institution" name="credit_institution" pattern="^\p{Alpha}[^0-9]*" required>
            <span><details>
                <summary>
                    Aider?
                </summary>Saisissez ici le nom de votre établissement de crédit.
                Par example: <i>France Kredit Bank Paris </i>
            </details></span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
        </li>
    </ul>
</form>
{% endblock %}