{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<div class="pers-fields">
    <form action="/{{language}}/gez/payment_methods" method="POST">
        <h1>Методи на плащане 2 от 2</h1>
        <ul>
            <li>
            <label for="">Методи за трансфер</label>
            <input type="radio" id="sepa" name="type" value="1" required> Чрез SEPA мандат <br>
            <input type="radio" id="bank_transfer" name="type" value="2"> Through Bank transfer
            <span><details>
                <summary>
                    Помощ?
                </summary>Моля, изберете как искате да платите таксата, можете да дадете право на SEPA да тегли пари от сметката Ви или да направите банков превод сами. <br>
                Ако решите да използвате SEPA, ние се нуждаем от Вашата банкова информация. Ще бъдете изпратени на друга страница, където можете да попълните банковата си информация.<br>
                Ако решите да изпратите парите чрез банков превод, ще бъдете препратени до последната стъпка от този документ, но трябва да изпратите парите по-късно сами.
            </details>
                
            </span>
        </li>
        <li>
            <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit"><br>
            
        </li>            
    </ul>
</form>
</div>

{% endblock %}