{% extends 'bg/bg_base.html' %}

{% block head %}
<title>Адресна регистрация</title>
{% endblock %}
{% block body %}

<div class="pers-fields">
    <form action="/{{language}}/gez/payment_methods" method="POST">
        <h1>Методи на плащане 1 от 2</h1>
        <ul>
            <li>
                <label for=""> Период от време
                </label>
                <input type="radio" id="3-months" name="timespan" value="1" required>В средата на първите 3 месеца(at the 15th) <br> <br>
                <input type="radio" id="3-months-before" name="timespan" value="2">3 месеца предплащане: (1.1, 1.4, 1.7, 1.10) <br> <br>
                <input type="radio" id="6-months-before" name="timespan" value="3">6 месеца предплащане:(1.1, 1.7) <br> <br>
                <input type="radio" id="12-months-before" name="timespan" value="4">12 месеца предплащане:(1.1) <br> 
                <span><details>
                    <summary>
                        Помощ?
                    </summary> Моля, изберете периода, в който искате да платите таксата.
                </details>
                    
                </span>
            </li>
            <li>
                <input type="button" value="Back" onClick="javascript:history.back()">
                <input type="submit" value="Submit"><br>
                
            </li>            
        </ul>
    </form>
</div>

{% endblock %}
