{% extends 'en/en_base.html' %}

{% block head %}
<title>À propos de nous</title>
{% endblock %}

{% block body %}

<h1>
    Bienvenue sur notre site!
</h1>
<p class="text">
    Notre équipe A-5 est là pour vous fournir la meilleure aide possible pour remplir tous les documents dont vous disposez
    à finir pour une vie sauve et facile en allemagne!
    Nous travaillons à la traduction de toutes les informations nécessaires pour vous, tout en expliquant en étapes faciles à suivre comment remplir
    chaque document pour lequel vous pourriez avoir des questions.
</p>
<p class="text">
    Notre équipe est composée de 6 étudiants, tous dans leur troisième semestre, de la Hochschule Mannheim en Allemagne. Nous utilisons le
    technologie la plus récente
    nous venons d'apprendre en coopération avec notre professeur, ainsi que le <b id="welfare"> faculté de bien-être </b>de notre
    école pour créer ce site /app/.
</p>
<p>

</p>
<h2>
    Nos équipiers sont:
</h2>
<p class="boxed">
    <img src="/images/Profil 1.png" class="image"> <br>Le premier membre est Georgi Haydukov, responsable de
    les cookies et nos politiques de confidentialité. Vous pouvez le joindre sous son email: <a
        href="11@stud.hs-mannheim.de">11@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 2.png" class="image"> <br>De plus, nous avons Aleksandar Histrov, notre spécialiste Flask et
    traducteur bulgare. Vous pouvez le joindre sous son email: <a href="12@stud.hs-mannheim.de">12@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 3.png" class="image"> <br>C'est Robert Endler qui travaille non seulement sur notre empreinte, mais aussi
    sur notre traduction en français. Vous pouvez le joindre sous son email: <a
        href="13@stud.hs-mannheim.de">13@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/Profil 4.png" class="image"> <br>Voici Ilyas Bal qui travaille sur nos tutoriels et
    des explications pour vos futurs documents. Vous pouvez le joindre sous son email:<a
        href="14@stud.hs-mannheim.de">14@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/profil 5.png" class="image"> <br>Lennart Gulde travaille également sur nos tutoriels et aide sur
    notre système de connexion. Vous pouvez le joindre sous son email: <a href="15@stud.hs-mannheim.de">15@stud.hs-mannheim.de</a>
</p>
<br>
<br>
<br>
<p class="boxed">
    <img src="/images/profil 6.png" class="image"> <br>Enfin voici Muhammed Yavuz, qui est responsable de la
    les informations que vous lisez en ce moment! De plus, il travaille sur le login, tout comme sur le menu. Vous pouvez l'atteindre sous
    son email: <a href="16@stud.hs-mannheim.de">16@stud.hs-mannheim.de</a>
</p>

<p id="finalsentence">
    <br>Chaque membre de notre équipe espère que ce site vous apportera l'aide dont vous avez besoin sur votre chemin à travers l'Allemagne.
    bureaucratie. Nous vous souhaitons tous un agréable séjour en Allemagne!
</p>
{% endblock %}