<!DOCTYPE html>
<!---->
<!-- A html tag with the necessary language for the page-->
<!-- <html lang="bg/en/de/fr">-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=firefox">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- static linking-->
    <!--                        |                           -->
    <!--                        |                           -->
    <!--                        v                           -->
    <!-- <link rel="stylesheet" href="static/css/main.css"> -->


    <!-- Elements from head-->
    <!-- Example: <title> Title </title> -->

    {% block head %} {% endblock %}
</head>

<body>

    <nav class="Navbar">
        <div class="topnav" id="myTopnav">
            <a href="/en/home" class="active">Home</a>
            <a href="">Documents</a>
            <div class="dropdown">
                <button class="dropbtn">Languages
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="?lang=en">English</a>
                    <a href="?lang=de">German</a>
                    <a href="?lang=bg">Bulgarian</a>
                    <a href="?lang=fr">Français</a>
                </div>
            </div>
            <a href="/en/about">About</a>
            <a href="">Logout</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>

    <!-- Elements from body-->
    <!-- Example: <h1> Website </h1> -->
    {% block body %} {% endblock %}
</body>

</html>