{% extends 'fr/fr_base.html' %}


{% block head %}
<!-- <title> ... </title>-->
<title> Welcome </title>
{% endblock %}
{% block body %}
<h1>Welcome </h1>
<hr>
<h2> N'oubliez pas que nous avons encore besoin de votre signature et de la date comme validation! C'est là que vous devez vous connecter!<details>
    <summary>C'est à ça que ça ressemble!</summary>
    <img src="{{url_for('static', filename='images/Part_3_fr.png')}}" class="image">
    </details>
    <br>Dans le cas où vous avez décidé d'envoyer l'argent avec un mandat SEPA, vous devez donner une autre signature!
    <details><summary>C'est à ça que ça ressemble!</summary>
        <img src="{{url_for('static', filename='images/Part_5_fr.png')}}" class="image">
    </details></h2>
    
<p>Si vous avez besoin d'une aide supplémentaire, n'hésitez pas à contacter la ligne d'assistance.<a href="https://www.mannheim.de/de/service-bieten/integration-migration/anima-ankommen-in-mannheim"></a>ANIMA </a></p>
<p>
    Si vous souhaitez remplir un autre document, veuillez cliquer sur<a href="/{{language}}/home">ici</a>.
</p>

{% endblock %}