{% extends 'fr/fr_base.html' %}


{% block head %}
<title> Bienvenue </title>
{% endblock %}
{% block body %}
<h1>Bienvenue </h1>
<hr>
<h2> Veuillez choisir le document pour lequel vous avez besoin d'aide: </h2>
<ul>
        <li>
                <a href="">Inscription de l'appartement</a>
        </li>
        <li>
                <a href="/en/gez/general_information"> GEZ</a>
        </li>
        <li>
                <a href="">Garde d'enfants</a>
        </li>
        <li></li>
</ul>



{% endblock %}