{% extends 'en/en_base.html' %}

{% block head %}
<title>Mention légale</title>
{% endblock %}
{% block body %}
<header>
    <h1>Mention légale</h1>
</header>

<p><strong>Ville de Mannheim</strong><br>
    Rathaus E 5<br>
    D-68159 Mannheim<br>
    Fon +49 621 293-0<br>
    Fax +49 621 293-9532<br>
    E-Mail:<a href="mailto:stadtverwaltung@mannheim.de">stadtverwaltung@mannheim.de</a>
</p>
<p>Stadt Mannheim est une société de droit public.
    Il est représenté par le maire Dr. Peter Kurz, Rathaus E 5, 68 159 Mannheim.
</p>
<h2>VAT numéro d'identification</h2>
<p>conformément au § 27 a de la loi sur la TVA: DE 143845211
</p>
<p>
    <em>Référence au numéro d'identification VAT:</em><br>
    Le Stadt Mannheim n'est commercialement ou professionnellement actif que dans le cadre de ses activités commerciales
    nature (article 1 (1) n ° 6, article 4 de la loi relative à l'impôt sur les sociétés). De plus, le numéro d'identification TVA est
    requis pour les acquisitions intracommunautaires (§ 1 a de la loi TVA).
</p>
<p>
<h2>Règlement en ligne hors appel</h2>
<p>
    La Commission européenne met à disposition cette plateforme <a
        href=" https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=EN"
        target="_blank">https://ec.europa.eu/consumers/odr/ </a> pour une résolution extrajudiciaire en ligne.
</p>
Informations conformément à l'article 36 de la loi sur le règlement du droit de la consommation
Stadt Mannheim n'est ni disposé ni obligé de participer à une procédure de règlement des litiges devant un consommateur
organe d’arbitrage.
</p>
<p>
<h2>Responsabilité générale du contenu</h2>
<h3>Principe d'égalité de traitement</h3>
<p>L'égalité de toutes les personnes devant la loi et la protection contre la discrimination est un droit de l'homme universel. Chaque humain
    l'être a le droit fondamental d'agir conformément à la loi, i. e. impartial.
</p>
<p>Le site Web de Stadt Mannheim est attaché à ce principe, les objectifs de la Communauté européenne à protéger
    contre la discrimination et sa mise en œuvre juridique dans la loi générale sur l'égalité de traitement (AGG).</p>
<p>À cet égard, Stadt Mannheim Mannheim s'efforce de prévenir ou d'éliminer la discrimination fondée sur la race ou
    origine ethnique, sexe, religion ou croyance, handicap, âge ou identité sexuelle.
</p>
</p>
<p>
<h2>Droits d'auteur, responsabilité</h2>
<p>La mise en page de la page d'accueil, les graphiques utilisés ainsi que la collection des contributions sont protégés par le droit d'auteur.
    Les pages ne peuvent être reproduites que pour un usage privé, aucune modification ne peut être apportée et aucune copie ne peut être distribuée ou utilisée
    pour la reproduction publique. Les contributions individuelles sont également protégées par le droit d'auteur; de plus amples informations peuvent être
    trouvé là-bas si nécessaire. Toutes les informations sur ce serveur sont fournies sans garantie d'exactitude. Sous le n °
    circonstances, toute responsabilité sera assumée pour les dommages résultant de l'utilisation des informations récupérées.</p>
<p>Le contenu du serveur de Mannheim relève de la responsabilité des fournisseurs de contenu respectifs. Leur subordonné
    mentions légales en informe.</p>
<p>Malgré un contrôle minutieux du contenu, nous déclinons toute responsabilité quant au contenu des liens externes. Nous
    déclarons expressément que nous n'avons aucune influence sur la conception et le contenu des pages liées. Nous avons donc expressément
    nous éloigner de tous les contenus des pages, qui sont accessibles via des liens depuis cette page. Cette déclaration
    s'applique à tous les liens et références définis sur notre site Web.</p>
</p>
<p>
<h2>Sources de données externes</h2>
Ce site utilise:
</p>


{% endblock %}