{% extends 'fr/fr_base.html' %}


{% block head %}
<!-- <title> ... </title>-->
<title>GEZ</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="{{url_for('static', filename='javascript/register.js')}}"></script>
<form action="/{{language}}/register" method="POST">
    <h1>S'inscrire</h1>
    <ul>
        <li>
            <label for="uNameReg">Nom d'utilisateur</label>
            <input type="text" name="userNameReg" id="uNameReg" required>
            <span>Choisissez votre nom d'utilisateur</span>
        </li>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <li>
            <label for="">Mot de passe</label>
            <input type="password" name="password" id="password1" required>
            <span>Choisissez votre mot de passe</span>
            <br>
            <input type="password" name="password2" id="password2" required>
            <span>Répétez votre mot de passe s'il vous plaît</span>
        </li>
        <li>
            <label for="mail">E-Mail</label>
            <input type="email" name="email" id="mail" required>
            <span>Entrez votre adresse e-mail ici s'il vous plaît</span>
        </li>
        <li>
            <label for="">Langue</label>
            <input type="radio" name="language" id="en" value="en" required> English
            <input type="radio" name="language" id="de" value="de"> Deutsch
            <input type="radio" name="language" id="bg" value="bg"> Български
            <input type="radio" name="language" id="fr" value="fr"> Français
            <span>Choisissez la langue que vous souhaitez utiliser</span>
        </li>

        <h2>Cette partie est facultative</h2>
        <li>
            <label for="">Genre</label>
            <input type="radio" name="gender" id="radioMale"> Mâle
            <input type="radio" name="gender" id="radioFemale"> Femelle
            <span>Entrez votre sexe ici s'il vous plaît</span>
        </li>
        <li>
            <label for="fName">Prénom</label>
            <input type="text" name="firstName" id="fName" pattern="\p{Alpha}*">
            <span>Entrez votre prénom ici s'il vous plaît</span>
        </li>
        <li>
            <label for="lastName">Nom de famille</label>
            <input type="text" name="lastName" id="lName" pattern="\p{Alpha}*">
            <span>Entrez votre nom ici s'il vous plaît</span>
        </li>
        <li>
            <label for="dateOfBirth">Date de naissance</label>
            <input type="date" name="dateOfBirth" id="dob">
            <span>Entrez votre date de naissance ici s'il vous plaît</span>
        </li>
        <li>
            <input type="submit" value="Envoyer" onclick=checkPasswordValidity()>
        </li>
    </ul>
</form>

{% endblock %}