
{%extends 'fr/fr_base.html'%}

{% block head %}
<title>Bienvenue</title>
{% endblock %}

{% block body %}

<form id="welcometext">
<h1>
    Bienvenue!
</h1>
<p>Bienvenue sur notre site! </p>
<p >
    Notre équipe A-5 est là pour vous fournir la meilleure aide possible pour remplir tous les documents dont vous disposez
    à finir pour une vie sauve et facile en allemagne!
    Nous travaillons à la traduction de toutes les informations nécessaires pour vous, tout en expliquant en étapes faciles à suivre comment remplir
    chaque document pour lequel vous pourriez avoir des questions.
</p>
<br>

<p >
    Notre équipe est composée de 6 étudiants, tous dans leur troisième semestre, de la Hochschule Mannheim en Allemagne. Nous utilisons le
    technologie la plus récente
    nous venons d'apprendre en coopération avec notre professeur, ainsi que le <b id="welfare"> faculté de bien-être </b>de notre
    école pour créer ce site /app/.<br>
    Si vous voulez en savoir plus <b>à propos de nous </b>, vous pouvez trouver toutes les informations nécessaires <a href = "en/about_us.html"> here</a>.
</p>
</form>
<p>
       
        <form action="/" method="POST">
            <h1>Connexion</h1>
            <ul>
                <li>
                    <label for="uName">Nom d'utilisateur</label>
                    <input type="text" name="username" id="uName">
                    <span>Entrez votre nom d'utilisateur ici s'il vous plaît</span>
                </li>
                <li>
                    <label for="pWord">Mot de passe</label>
                    <input type="password" name="password" id="pWord">
                    <span>Entrez votre mot de passe ici s'il vous plaît</span>
                </li>
                <li>
                    <ul>
                        <li>
                            <input type="submit" value="Envoyer">
                        </li>
                    </ul>
                    
                </li>
            </ul>
        
            <ul>
                <h3>Vous n'avez pas de compte. Créez-en un ici.</h3>
                <li>
                    <a href="/{{language}}/register">S'inscrire</a> 
                </li>
                <li></li>
            </ul>
        
        </form>

        <form action="">
            <ul>
                <h2>
                    Ако не искате да създавате акаунт. <br>
                    Може да използвате сайта като гост.
                </h2>
                <li class="listCenter">
                    <a href=" "> Appartement registration</a>
                </li>
                <li class="listCenter">
                    <a href="/{{language}}/gez/gez_explanation"> GEZ</a>
                </li>
                <li class="listCenter">
                    <a href=" ">Child care</a>
                </li>
                <li></li>
            </ul>
        </form>
</p>


<p id="finalsentence">
    <br>Chaque membre de notre équipe espère que ce site vous apportera l'aide dont vous avez besoin sur votre chemin à travers l'Allemagne.
    bureaucratie. Nous vous souhaitons tous un agréable séjour en Allemagne!
</p>
<!-- Cookie html code from here: -->
<div class="cookie-container">
    <p>
        Nous utilisons des cookies sur ce site Web pour vous offrir la meilleure expérience possible
        et vous montrer des publicités pertinentes. Pour en savoir plus, lisez notre
        <a href="/{{language}}/privacy_policy">politique de confidentialité</a>.
    </p>

    <button class="cookie-btn">
        d'accord
    </button>
</div>
<script type="text/javascript" src="{{url_for('static', filename='javascript/cookieConsent.js')}}"></script>
{% endblock %}