
{%extends 'en/en_base.html'%}

{% block head %}
<title>Welcome</title>
{% endblock %}

{% block body %}

<h1>
    Bienvenue!
</h1>
<p>Bienvenue sur notre site! </p>
<p >
    Notre équipe A-5 est là pour vous fournir la meilleure aide possible pour remplir tous les documents dont vous disposez
    à finir pour une vie sauve et facile en allemagne!
    Nous travaillons à la traduction de toutes les informations nécessaires pour vous, tout en expliquant en étapes faciles à suivre comment remplir
    chaque document pour lequel vous pourriez avoir des questions.
</p>
<br>

<p >
    Notre équipe est composée de 6 étudiants, tous dans leur troisième semestre, de la Hochschule Mannheim en Allemagne. Nous utilisons le
    technologie la plus récente
    nous venons d'apprendre en coopération avec notre professeur, ainsi que le <b id="welfare"> faculté de bien-être </b>de notre
    école pour créer ce site /app/.<br>
    Si vous voulez en savoir plus <b>à propos de nous </b>, vous pouvez trouver toutes les informations nécessaires <a href = "en/about_us.html"> here</a>.
</p>

<p>
       
        <form action="/" method="POST">
            <h1>Login</h1>
            <ul>
                <li>
                    <label for="uName">Username</label>
                    <input type="text" name="username" id="uName">
                    <span>Enter your Username here please</span>
                </li>
                <li>
                    <label for="pWord">Password</label>
                    <input type="password" name="password" id="pWord">
                    <span>Enter your password here please</span>
                </li>
                <li>
                    <ul>
                        <li>
                            <input type="submit" value="Submit">
                            <input type="button" value="Use as a Guest">
                        </li>
                    </ul>
                    
                </li>
            </ul>
        
            <ul>
                <li>
                    <a href="/register">
                        <p id="reg">Register</p>
                    </a>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <h2>
                        If you do not want to create an account you can click right here!
                    </h2>
                    <br>
                    <a href= "home.html"> Where can we help you?</a>
                </li>
            </ul>
        
        </form>
</p>


<p id="finalsentence">
    <br>Every member of our team hopes that this site will give you the help you need on your way through germany's
    bureaucracy. We all wish you a pleasant time in Germany!
</p>
<!-- Cookie html code from here: -->
<div class="cookie-container">
    <p>
        We use cookies in this website to give you the best experience possible
        and show you relevant ads. To find out more, read our
        <a href="templates/localized_pages/English/privacy_policy.html">privacy policy</a>.
    </p>

    <button class="cookie-btn">
        Okay
    </button>
</div>
<script type="text/javascript" src="{{url_for('static', filename='javascript/cookieConsent.js')}}"></script>
{% endblock %}