<!DOCTYPE html>
<!---->
<!-- A html tag with the necessary language for the page-->
<!-- <html lang="bg/en/de/fr">-->
{% block start %} {% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=firefox">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <!-- static linking-->
    <!--                        |                           -->
    <!--                        |                           -->
    <!--                        v                           -->
    <!-- <link rel="stylesheet" href="static/css/main.css"> -->


    <!-- Elements from head-->
    <!-- Example: <title> Title </title> -->

    {% block head %} {% endblock %}
</head>

<body>
    
    <nav class="Navbar">
        <div class="firstnavbar" id="myFirstnav">
            <a href="/en/home"> <img src="static/images/us.png"> </a>
            <a href="/de/home"><img src="static/images/de.png"> </a>
            <a href="/bg/home"><img src="static/images/bg.png"> </a>
            <a href="/fr/home"><img src="static/images/fr.png"> </a>
        </div>
    </nav>

    <!-- Elements from body-->
    <!-- Example: <h1> Website </h1> -->
    {% block body %} {% endblock %}
</body>

</html>