{%extends 'base.html'%}

{% block start %} <html lang="en"> {% endblock %}
{% block head %}
<title>GEZ-Help</title>
{% endblock %}

{% block body %}

<form action="">
    <h1>Login</h1>
    <ul>
        <li>
            <label for="uName">Username</label>
            <input type="text" name="username" id="uName">
            <span>Enter your Username here please</span>
        </li>
        <li>
            <label for="pWord">Password</label>
            <input type="password" name="password" id="pWord">
            <span>Enter your password here please</span>
        </li>
        <li>
            <ul>
                <li>
                    <input type="submit" value="Submit">
                    <input type="button" value="Use as a Guest">
                </li>
            </ul>
            
        </li>
    </ul>

    <ul>
        <li>
            <a href="/register">
                <p id="reg">Register</p>
            </a>
            
        </li>
    </ul>

</form>

<!-- Cookie html code from here: -->
<div class="cookie-container">
    <p>
        We use cookies in this website to give you the best experience possible
        and show you relevant ads. To find out more, read our
        <a href="templates/localized_pages/English/privacy_policy.html">privacy policy</a>.
    </p>

    <button class="cookie-btn">
        Okay
    </button>
</div>
<script type="text/javascript" src="{{url_for('static', filename='javascript/cookieConsent.js')}}"></script>
{% endblock %}