{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<div class="pers-fields">
    <form action="/{{language}}/gez/adress1" method="POST">
        <h1> Adresse 1 sur 5</h1>
        <ul>
            <li>
                <label for="date_registered">Date d'enregistrement</label>
                <input type="date" id="date_registered" name="date_reg"
                    value="fields.registration_date if fields.registration_date != None else '' " required>
                <span>
                    <details>
                        <summary>
                            Aider?
                        </summary>
                        <p>Veuillez saisir la date exacte à laquelle vous avez enregistré votre adresse dans la ville.
                        </p>
                    </details>
                </span>
            </li>
            <li>
                <input type="button" value="Dos" onClick="javascript:history.back()">
                <input type="submit" value='Envoyer'>
            </li>
        </ul>
    </form>
</div>
{% endblock %}