{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information" method='POST'>
    <h1>Informations générales 3 sur 3</h1>
    <ul>
        <li>
            <label for="dateOfBirth">Date de naissance</label>
            <input type="date" name="dateOfBirth" id="dob" required>
            <span><details><summary>
                Aider?
            </summary> 
                <p>Entrez votre date de naissance ici s'il vous plaît
                    <br> C'est le jour de ta naissance.
                </p>
            </details></span>
        </li>
        <li>
               <input type="button" value="Back" onClick="javascript:history.back()">
            <input type="submit" value="Submit">
            
             
            
        </li>
        
    </ul>
</form>
{% endblock %}