{% extends 'fr/fr_base.html' %}

{% block head %}
<title>GEZ</title>
{% endblock %}
{% block body %}
<form action="/{{language}}/gez/general_information3" method='POST'>
    <h1>Informations générales 3 sur 3</h1>
    <ul>
        <li>
            <label for="dateOfBirth">Date de naissance</label>
            <input type="date" name="dateOfBirth" id="dob"
                value="{{fields.date_of_birth if fields.date_of_birth != None else '' }}" required>
            <span>
                <details>
                    <summary>
                        Aider?
                    </summary>
                    <p>Entrez votre date de naissance ici s'il vous plaît
                        <br> C'est le jour de ta naissance.
                    </p>
                </details>
            </span>
        </li>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <li>
            <input type="button" value="Dos" onClick="javascript:history.back()">
            <input type="submit" value="Envoyer">



        </li>

    </ul>
</form>
{% endblock %}